.git
.vscode
.**_cache
__pycache__

/.ipynb_checkpoints
/venv
/archive
/deployment
/exploration
/data
/model/archive

Dockerfile
README.md
.gitignore
requirements-dev.txt

*tar.gz
*.sh
*.ipynb
*.png
*.json